.container{
    max-width: 1200px;
     margin: 0 auto;
     padding: 0 auto;
     background-color: white;
}
.country-name{
    text-align: center;
   
}
.month{
    border: 5px solid rgb(26, 75, 172);
    /* background-color:  #d4faf4; */
    padding: 10px;
    border-radius: 10px;
}
.month-name{
    border: 3px solid green;
    color:  rgb(20, 190, 63);
    text-align: center;
    
    
}
.display-system{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.calander-list{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1em;
    
    gap: 10px;
    margin-top: 20px;
}

.list ,.day{
    border: 1px solid rebeccapurple;
    /* background-color:  #c3c0c1; */
    font-size: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: auto;
     
     
}
.date{
    /* background-color:  #5b5a7a; */
    height: 50px;
}
.ofday{
  color:  #f7073f;
}
.fotter{
    background-color: black;
    color: white;
    text-align: center;
    margin-left: 80px;
    
}

.fotter p{
    padding: 10px;
}

 